<!doctype html>
<html lang="en">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="main.js"></script>
  <link rel="stylesheet" href="main.css">
<head>
    <meta charset="uft-8">
    <title>Dev: Quiz</title>
</head>
<body>
    <div id="container"> 3316 QUIZ
        <div id="content">
          <div id="current-question"></div> 
          <div id="scores"></div>
            <div id="quiz">
                <form id="myForm" action="" method="post">
                    <div id="questions"></div>
                    <div id="answers">
                        <input type="radio" class="radio" name="answer1" id="Name" value="Laurence">
                    </div>
                </form>
            </div>
            <div id="nextBtn" ></div>    
            <div id="explain"> Double click the next button after selecting an answer to load the next question!</div> 
            <div id="end"> Congratulations, you've completed the 3316 quiz </div>
        </div>
    </div>
  </body>
</html>